@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: hsl(150, 100%, 66%);
    --advice-dice-color: hsl(150, 100%, 66%);
    --advice-card-color: hsl(217, 19%, 24%);
    --background-color: hsl(218, 23%, 16%);
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    font-weight: 800;
}

.advice-card {
    background-color: var(--advice-card-color);
}

.advice-title {
    color: var(--text-color);
}

.advice-text {
    color: white;
}