@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: hsl(150, 100%, 66%);
    --advice-dice-color: hsl(150, 100%, 66%);
    --advice-card-color: hsl(217, 19%, 24%);
    --background-color: hsl(218, 23%, 16%);
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    font-weight: 800;
}

.container {
    display: flex;
    height: 500;
    width: 350;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.advice-card {
    background-color: var(--advice-card-color);
    padding: 10px;
    border-radius: 15px;
}

.advice-title {
    color: var(--text-color);
    font-size: 0.85em;
}

.advice-text {
    color: white;
}